#jobdetails {

         form {
        p { color: @grayDark !important; }
}
	.inline-save { 
	background:@gray;
        border:1px solid darken(@gray, 10%);
	color:@white;
       
    }
    .inline-cancel{
	background:@red;
        border:1px solid darken(@red, 10%);;
	color:@white;
    }
    .head{
    background:@grayDark;
    }
    input.textSubmitButton {
	.form-button;
        }
}

#EQ7 { 

.leftAlign {
        color:@black;
    }
}

.RAHistoryNotes{
    color:@black !important;
}