/* 
    Document   : ie7
    Created on : 07-Mar-2013, 10:06:08
    Author     : Aida Papic
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.uni-button( @color ) {

        .button();

        @border: darken(@color, 5.5%);
        @from: lighten(@color, 5%);
        @to: darken(@color, 5%);

        @hover: darken(@color, 3.8%);
        @borderHover: darken(@hover, 5.5%);
        @fromHover: lighten(@hover, 5%);
        @toHover: darken(@hover, 5%);

	border: 1px solid @border !important;
	background: @color !important;
        display: inline;
        *zoom: 1;
        *display: inline;
        //zoom:1;
        position:relative;
        padding: 3px 5px;
        //.gradient(@from, @to);
        .transition( border .20s );
        text-align: center;
        font-size:12px;
        color: #FFF !important;
     
        _width:38px; /* IE6 */
        //*width:auto; /* IE7 */

        &:hover {
            border: 1px solid @borderHover !important;
            background: darken(@hover, 5%) !important;
            //.gradient(@fromHover, @toHover);
            color: #FFF !important;
        }

        &:active {
            border-color: @borderHover !important;
            color: #FFF !important;
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}

button.gplus-blue { 
    .uni-button(@blue);
    min-width:58px;
}

button.gplus-blue-disabled { 
    .uni-button(lighten(@blue, 30%));
    min-width:58px;
}
button.gplus-red { 
    .uni-button(@red);
    min-width:58px;
}
button.gplus-green { 
    .gplus-button( #3A8E00 );
    min-width:58px;
}

    
    #menu{
        position:relative;
        display:inline;
        zoom:1;
    }
    
    #menu button {
        padding: 0 !important; margin: 0px !important;
        position:relative;
        zoom:1;
    }
    
   #menu button span.label { padding: 0 !important; margin: 0px !important; font-size:13px;}
   
    a.ui-button{
    height: 16px;
    padding: 0;
    position: relative;
    zoom:1;
    right: 20px;
    top: 0px;
    width: 26px;
    }

    .ui-button .ui-button-text {
    height: 20px !important;
    display:inline;
    zoom:1;
    }
    .ui-combobox span {
    padding: 0;
    }
   
    span .ui-combobox a {
    margin-left: -26px !important;
    top: 0px !important;
    display: inline !important;
    zoom:1;
    }
   
.ui-combobox .ui-button {
}