@charset "UTF-8";
/* CSS Document */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
h2,h3 {
    margin-top: 0px;
    padding-top: 0px;
}
div#wrapper {
	width:960px;
	 height:100%;
	 position:fixed;
	 display:block;
	 margin:0 auto;
	 border:5px solid #CC0;
 }
div#head {
    position:absolute;
    width:960px;
    height:20%;
    left:0px;
    top: 0px;
    background-color: #FFFF66;
}
div#columns {
    position:absolute;
    width: 960px;
	height:100%;
    top: 100px;
    background-color: #CCCCCC;
}
div#side1 {
    position:absolute;
    width:600px;
	height:100%;
    top: 0px;
    left:0px;
    background-color: #FF6666;
}
div#content {
    position: relative;
    width: 600px;
	height:100%;
    top: 50%;
    left: 0px;
    background-color: #999999;
}
div#side2 {
    position:absolute;
    width:360px;
	height:100%;
    top: 0px;
    left: 600px;
    background-color: #00FF66;
	border:5px dashed red;
}
/* viewport2 css  */
body{
	background:lightyellow;
	font:13px;
}
div{
	border:1px solid red;
	opacity: 0.7;
}
div#left-layout{
	background:pink;
	position:absolute;
	top:5%;
	left:10px;
	width:560px;
	height:60%;
}

div#sidebar-layout{
	background:orange;
	position:absolute;
	top:5%;
	right:10px;
	width:360px;
	height:94%;
}

div#bottom-layout{
	background:yellowgreen;
	position:absolute;
	bottom:10px;
	left:10px;
	width:560px;
	height:32%;
}

div#top-layout{
	background:lightgreen;
	position:absolute;
	top:0;
	right:0;
	width:960px;
}
div#container-layout{
	position:fixed;
	width:960px;
	height:auto;
	height:94%;
	margin:0 auto;
	background:lightblue;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
}